.container {
    max-width: 1170;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[class*="col-"] {
    flex: 0 0 auto;
}



/* COLUMNS DIMENSIONS AND POSITION */
/* Column width */
.col-xs-1 {
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-xs-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-xs-3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col-xs-4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col-xs-5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-xs-6 {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col-xs-7 {
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col-xs-8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.col-xs-9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col-xs-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col-xs-11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}


.col-xs-offsets-1 {
    margin: calc((100% / 12) * 1);
}

.col-xs-offsets-2 {
    margin: calc((100% / 12) * 2);
}

.col-xs-offsets-3 {
    margin: calc((100% / 12) * 3);
}

.col-xs-offsets-4 {
    margin: calc((100% / 12) * 4);
}

.col-xs-offsets-5 {
    margin: calc((100% / 12) * 5);
}

.col-xs-offsets-6 {
    margin: calc((100% / 12) * 6);
}

.col-xs-offsets-7 {
    margin: calc((100% / 12) * 7);
}

.col-xs-offsets-8 {
    margin: calc((100% / 12) * 8);
}

.col-xs-offsets-9 {
    margin: calc((100% / 12) * 9);
}

.col-xs-offsets-10 {
    margin: calc((100% / 12) * 10);
}

.col-xs-offsets-11 {
    margin: calc((100% / 12) * 11);
}



/* ALIGNMENT AND JUSTIFICATION ROW */
/* Justification */
.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-evenly {
    justify-content: space-evenly;
}


/* Alignment */
.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-top {
    align-items: flex-end;
}

.align-middle {
    align-items: flex-end;
}

.align-bottom {
    align-items: flex-end;
}



/* MEDIA QUERIES */
/* Small screen */
@media all and (min-width: 576px) {
    .col-sm-1 {
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-sm-2 {
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-sm-3 {
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-sm-4 {
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-sm-5 {
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-sm-6 {
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-sm-7 {
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-sm-8 {
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-sm-9 {
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-sm-10 {
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    .col-sm-11 {
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    
    .col-sm-offsets-0 {
        margin: calc((100% / 12) * 0);
    }

    .col-sm-offsets-1 {
        margin: calc((100% / 12) * 1);
    }
    
    .col-sm-offsets-2 {
        margin: calc((100% / 12) * 2);
    }
    
    .col-sm-offsets-3 {
        margin: calc((100% / 12) * 3);
    }
    
    .col-sm-offsets-4 {
        margin: calc((100% / 12) * 4);
    }
    
    .col-sm-offsets-5 {
        margin: calc((100% / 12) * 5);
    }
    
    .col-sm-offsets-6 {
        margin: calc((100% / 12) * 6);
    }
    
    .col-sm-offsets-7 {
        margin: calc((100% / 12) * 7);
    }
    
    .col-sm-offsets-8 {
        margin: calc((100% / 12) * 8);
    }
    
    .col-sm-offsets-9 {
        margin: calc((100% / 12) * 9);
    }
    
    .col-sm-offsets-10 {
        margin: calc((100% / 12) * 10);
    }
    
    .col-sm-offsets-11 {
        margin: calc((100% / 12) * 11);
    }
}



/* Medium screen */
@media all and (min-width: 768px) {
    .col-md-1 {
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-md-2 {
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-md-3 {
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-md-4 {
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-md-5 {
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-md-6 {
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-md-7 {
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-md-8 {
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-md-9 {
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-md-10 {
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    .col-md-11 {
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    
    .col-md-offsets-0 {
        margin: calc((100% / 12) * 0);
    }
    
    .col-md-offsets-1 {
        margin: calc((100% / 12) * 1);
    }
    
    .col-md-offsets-2 {
        margin: calc((100% / 12) * 2);
    }
    
    .col-md-offsets-3 {
        margin: calc((100% / 12) * 3);
    }
    
    .col-md-offsets-4 {
        margin: calc((100% / 12) * 4);
    }
    
    .col-md-offsets-5 {
        margin: calc((100% / 12) * 5);
    }
    
    .col-md-offsets-6 {
        margin: calc((100% / 12) * 6);
    }
    
    .col-md-offsets-7 {
        margin: calc((100% / 12) * 7);
    }
    
    .col-md-offsets-8 {
        margin: calc((100% / 12) * 8);
    }
    
    .col-md-offsets-9 {
        margin: calc((100% / 12) * 9);
    }
    
    .col-md-offsets-10 {
        margin: calc((100% / 12) * 10);
    }
    
    .col-md-offsets-11 {
        margin: calc((100% / 12) * 11);
    }
}



/* Large screen */
@media all and (min-width: 992px) {
    .col-lg-1 {
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-lg-2 {
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-lg-3 {
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-lg-4 {
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-lg-5 {
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-lg-6 {
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-lg-7 {
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-lg-8 {
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-lg-9 {
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-lg-10 {
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    .col-lg-11 {
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    
    .col-lg-offsets-0 {
        margin: calc((100% / 12) * 0);
    }
    
    
    .col-lg-offsets-1 {
        margin: calc((100% / 12) * 1);
    }
    
    .col-lg-offsets-2 {
        margin: calc((100% / 12) * 2);
    }
    
    .col-lg-offsets-3 {
        margin: calc((100% / 12) * 3);
    }
    
    .col-lg-offsets-4 {
        margin: calc((100% / 12) * 4);
    }
    
    .col-lg-offsets-5 {
        margin: calc((100% / 12) * 5);
    }
    
    .col-lg-offsets-6 {
        margin: calc((100% / 12) * 6);
    }
    
    .col-lg-offsets-7 {
        margin: calc((100% / 12) * 7);
    }
    
    .col-lg-offsets-8 {
        margin: calc((100% / 12) * 8);
    }
    
    .col-lg-offsets-9 {
        margin: calc((100% / 12) * 9);
    }
    
    .col-lg-offsets-10 {
        margin: calc((100% / 12) * 10);
    }
    
    .col-lg-offsets-11 {
        margin: calc((100% / 12) * 11);
    }
}